.nav-brand{
	padding-top: 12px;
	
}

.panel-default{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
}

.panel-title{
	text-align: center;
	font-size: 25px;
}

.alert{
	text-align: center;
	margin-top: 10px;
	margin-left: 50px;
	margin-right:50px;
}